/*Infografic class version 8 */

/* font-family: 'Montserrat', sans-serif;
font-family: 'PT Sans', sans-serif; */


/* google fonts */

body {

    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f5f0d6;
}




h1,
.h1 {

    /*font-family: 'Montserrat', sans-serif; */
    text-align: center;
    text-transform: capitalize;
    font-weight: 1000;

}


h2,
h3,
h4,
h5 {
    font-weight: 100;

    /* font-family: 'Montserrat', sans-serif; */
}




h6,
.h6 {

    text-align: left;
    /*   font-family: 'Montserrat', sans-serif; */
    line-height: 1.5;
}


p,
.p {

    margin-bottom: 0px;

}


.map_wraper {


    position: relative;
}


.map-overlay {
    font-weight: bolder;
    position: absolute;
    width: 18%;
    top: 30px;
    left: 30px;
    padding: 10px;
    z-index: 1;

}

.map-overlay .map-overlay-inner {
    background-color: #f5f0d6;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.70);
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 2px;
    color: red;
}

.map-overlay label {
    display: block;
    margin: 0 0 0px;
    font-size: small;
}

.map-overlay input {
    background-color: transparent;
    display: inline-block;
    width: 100%;
    position: relative;
    margin: 0;
    cursor: ew-resize;
}


.box_beside_map {
    height: 650px;
    background-color: #9bb5af;
    color: #333;

    border-top: 10px solid white;
    border-bottom: 10px solid white;
    border-right: 10px solid white;

}


#map {
    position: relative;
    height: 650px;
    border: 10px solid white;
    margin: 0 0 1rem 0;
    padding: 0;

}


@media (max-width:769px) {





    #map {

        position: relative;
        /* height: 400px; */
        height: 60vh;
        border: 10px solid white;
        margin: 0 0 1rem 0;
        padding: 0;


    }


    .box_beside_map {
        height: 40vh;
        /* height: 650px; */
        background-color: #f5f0d6;
        color: #333;
        border: 0px solid white;

    }





    .map-overlay-inner {

        width: 400%;


    }

    .map-overlay-inner label {

        font-size: x-small;

        font-weight: bolder
    }


    .map-overlay .map-overlay-inner {

        padding: 5px;

    }



}




/*

#head {

    position: relative;
    top: 100px;
    z-index:2; 
}

*/



.paddingTop1rem {

    padding-top: 1rem;

}



.paddingTop2rem {

    padding-top: 2rem;
}





.hijau {


    color: #17343B;
}



.map_wraper {

    padding: 1rem 1rem;

}



#assoc-info {

    padding: 2rem 2rem 0 2rem;
    color: white;
    font-family: 'Montserrat', sans-serif;

}


.assoc-title {

    text-align: center;
    color: red;

}




.mapboxgl-popup {
    width: 100px;
    padding-top: 2px;
    text-align: center;

}


.mapboxgl-popup-content {
    font-size: 0.70rem;
    border-radius: 0.5rem;
    box-shadow: 0 3px 5px rgba(63, 62, 62, 0.3);
    color: black;
    padding-left: 1rem;

}

.mapboxgl-popup-tip {
    border: 1px solid transparent;


}

.mapboxgl-ctrl-geocoder ul {

    background-color: lightgray;
    color: black;

}